body{
	background-color: black;
	font-family: Tahoma;
	margin: 10px;
}
noscript{
	background-color: red;
	color: white;
	font-weight: bold;
	font-size: 36px;
	text-align: center;
	border: dotted 3px black;
}
div#error_tip{
	position: fixed;
	left: 0px;
	top: 0px;
    margin-left: 25%;
	width: 50%;
	text-align: center;
	font-weight: bold;
	background-color: red;
	color: white;
	white-space: pre;
	border: solid 3px red;
	border-top: solid 0px black;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	display: none;
}
hr{
	margin: 0px;
}
div#display{
	width: 704px;
	height: 396px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-image: url(border.png) 149 149 stretch;
	-webkit-border-image: url(border.png) 149 149 stretch; /* Safari 5 */
	-o-border-image: url(border.png) 149 149 stretch; /* Opera */
	border-color: #202020;
	border-width: 8px;
	border-style: groove ridge ridge groove;
	color: red;
	font-size: 30px;
	text-align: center;
}
img#img{
	width: 100%;
	height: 100%;
	cursor: crosshair;
}
div#display span#position{
	position: fixed;
	font-family: Arial;
	font-size: 12px;
	color: white;
	text-shadow: 0px -1px 0 black,
				1px -1px 0 black,
				1px 0px 0 black,
				1px 1px 0 black,
				0px 1px 0 black,
				-1px 1px 0 black,
				-1px 0px 0 black,
				-1px -1px 0 black;
}
div.options{
	width: 820px;
	margin: 10px auto 0px auto;
	padding: 5px;
	border: ridge 5px grey;
	background-color: #303030;
	color: white;
	font-size: 14px;
}
span.title{
	text-decoration: underline;
	font-weight: bold;
	font-size: 18px;
	padding-right: 20px;
}
button.info{
	width: 58px;
	height: 20px;
	font-style: italic;
	font-size: 10px;
}
button.main{
	width: 120px;
	height: 50px;
	font-weight: bold;
	font-size: 18px;
}
footer{
	position: fixed;
	right: 0;
	bottom: 0;
	width: 25%;
	background-color: gray;
	border-left: ridge 3px #808080;
	border-top: ridge 3px #808080;
	text-align: center;
	font: bold 12px Arial;
	height: 0px;
	transition: height 0.5s 0s linear;
	-webkit-transition: height 0.5s 0s linear;
}
footer:hover{
	height: 34px;
}